﻿body {
    margin:0;
    padding:0;
}
hr {
    margin:50px auto;
}
.container > .navbar-header {
    margin-left: 0;
    margin-right: 0;
}
.container > .navbar-header > .navbar-nav{
    margin:0;
}
.footer {
    color:#cccccc;
}
.footer a:link, .footer a:visited, .footer a:hover {
    color: #cccccc;
    text-decoration: underline;
}